body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #ffffff;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
}
nav ul li {
  list-style-type: none;
}

.link_2 {
  background: #ffb800;
  border-radius: 4px;
  color: white;
  position: fixed;
  right: 10px;
}

.link_1 a {
  color: #000000;
  margin-right: 80px;
}

.link_2 a {
  color: #ffffff;
}

.logo img {
  width: 170px;
}

footer ul li {
  list-style-type: none;
}

footer img {
  width: 100px;
}

footer p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: #4f4f4f;
}

footer {
  border-top: 1px solid #f2f2f2;
}

.lower_footer ul {
  font-family: Roboto;
  font-size: 12px;
  color: #4f4f4f;
}

.link_two a {
  color: #ffb800;
}

.link_three a {
  color: #4f4f4f;
}

/* first section */
.first_section {
  background: rgba(0, 0, 0, 0.37);
  background-position: center;
  height: 607px;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 53, 48, 0.52),
      rgba(27, 25, 27, 0.73)
    ),
    url("https://res.cloudinary.com/elijjaaahhhh/image/upload/v1576163777/image_1_d4zjmf.png");
}

.intro_text {
  margin-top: 220px;
}

.intro_text h1 {
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 56px;
  color: #ffffff;
}

.intro_text p {
  color: #ffffff;
  font-weight: bold;
}

.intro_text span {
  color: #ffb800;
}

/* next move container */
.next-move {
  position: absolute;
  left: 40px;
  right: 40px;
  margin-top: -100px;
  background: #ffffff;
  box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

/* movers */
.movers {
  margin-top: 140px;
}

.movers-text h5 {
  font-weight: bold;
  color: #ffb800;
  font-size: 18px;
}

.movers-text p {
  font-size: 18px;
  color: #4f4f4f;
}

.movers-text h2 {
  font-weight: normal;
  color: #4f4f4f;
  font-size: 48px;
}

/* services-intro */
.services-bg {
  height: 393px;
  margin-bottom: 100px;
  background-image: linear-gradient(
      to bottom,
      rgba(255, 188, 2, 0.52),
      rgba(255, 209, 6, 0.73)
    ),
    url("https://res.cloudinary.com/elijjaaahhhh/image/upload/v1576346297/image_3_1_n2jbwk.png");
}

.services-intro h2 {
  margin-top: -310px;
  color: #ffffff;
}

/* choose-movers */
.choose-movers {
  margin-top: 100px;
  margin-bottom: 100px;
}

h5 {
  font-weight: bold;
  color: #ffb800;
  font-size: 18px;
}

h2 {
  font-weight: normal;
  color: #4f4f4f;
  font-size: 48px;
}

.choose h2 {
  font-weight: bold;
  color: #ffb800;
  font-size: 48px;
}

.choose h3 {
  font-weight: bold;
  color: #4f4f4f;
  font-size: 36px;
}
p {
  color: #4f4f4f;
  font-size: 18px;
}

.choose span {
  font-weight: bold;
  color: #ffb800;
  font-size: 14px;
}

/* services */
.services p {
  color: #4f4f4f;
  font-size: 24px;
}

/* footer */
.footer {
  margin-top: 100px;
}

.social-links {
  height: 5vh;
  width: 5vh;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {

}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {

}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {

}